/* Google Fonts Import - Quicksand for bold headings and Lato for bodies of text */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --primary-color: rgb(27, 54, 70);
  --secondary-color: rgb(75, 127, 153);
  --primary-highlight-color: rgb(
    228,
    129,
    11
  ); /* Orange - for calls to action */
  --secondary-highlight-color: #fbc037;
  --accent-color: #ffd878;
  --neutral-color: #f2f2e7;
  --dark-color: #0b161c;
}

/* Global Styles */
body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: white;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--primary-highlight-color);
  font-style: semiBold;
  font-weight: 700;
  font-optical-sizing: auto;
}

.sub-heading-color {
  color: var(--primary-color);
}

/*--------------------End of global styles-------------------*/

/* Navbar styles */

#navbar {
  background-color: var(--secondary-color);
  color: white;
}

/* Navbar Links */
#navbar .nav-link {
  color: white;
}

/* Navbar links hover */
#navbar .nav-link:hover {
  color: var(--secondary-color);
}

/* Navbar Brand */
.navbar-brand .logo {
  width: 80px;
}

.navbar-brand:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

/* Active page navbar link styling */
#navbar .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Customizes the bootstrap smaller screen toggler button */
.navbar-toggler {
  border-color: var(--primary-color);
}

/* Customizes the bootstrap smaller screen toggler burger icon inside the button. To change colour, adjust stroke rgba. !important declaration to override the bootstrap default svg */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(27, 54, 70, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Removes bootstrap border shadow effect on the smaller screens toggler */
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

/* Header and hero Section */
#hero-image {
  background-image: url("../images/freepik__expand__92566.jpeg");
  max-width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center 100%;
  background-repeat: no-repeat;
}

header > h1 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
}

/* Contact footer section */
footer {
  background-color: var(--secondary-color);
  color: white;
  position: relative;
}

.social-links i {
  color: white;
  font-size: 2rem;
  margin-right: 1.3rem;
  padding-top: 2rem;
  margin-bottom: 0.5rem;
}

#copyright {
  color: white;
  font-size: 0.7rem;
  text-align: center;
}

/* Media queries */

/* Medium size devices - Tablets 768px and up  */
@media (min-width: 768px) {
  #hero-image {
    height: 40vh;
  }

  header > h1 {
    font-size: 1.5rem;
  }

  .social-links i {
    font-size: 1.5rem;
  }

  #navbar .navbar-brand {
    font-size: 1rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
