/* Google Fonts Import - Quicksand for bold headings and Lato for slightly more formal bodies of text */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");

/* ................................... */
/* ................................... */
/* ========== Global Styles ========== */
/* ................................... */
/* ................................... */

/* ========== CSS Variables ========== */
:root {
  --primary-font: "Quicksand", sans-serif; 
  --secondary-font: "Lato", sans-serif; 
  --primary-color: #2d4a5b; /* Dark blue used on text and headings */
  --secondary-color: #365B78; /* Light blue used on navbar */
  --primary-highlight-color: #e4810b; /* Orange - for calls to action */
  --secondary-highlight-color: #fbc037; /* Yellow - for hover effects, lines */
  --accent-color: #ffd978; /* Light yellow - for decorative elements */
  --neutral-color: #f1efe8a5; /* Light grey - for form backgrounds */
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: white;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 700;
  font-optical-sizing: auto;
}

.sub-heading-color {
  color: var(--primary-color);
}

/* ========================= End of global styles ========================== */

/* ....................................*/
/* ................................... */
/* ========== Navbar Styles ========== */
/* ................................... */
/* ................................... */

#navbar {
  background-color: var(--secondary-color);
  color: white;
  padding: 0;
}

/* Navbar Links */
#navbar .nav-link {
  color: white;
  transition-duration: 0.3s;
}

/* Navbar Brand logo image */
.navbar-brand .logo {
  width: 150px;
}

.brand-text {
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.2; /* Adjust spacing between lines */
  color: white;
  text-transform: uppercase; /* Uppercase all text */
}

.brand-text span:first-child {
  font-weight: bold; /* Make "Boops & Snoots" bold */
  transition-duration: 0.3s;
}

.brand-text span:last-child {
  font-size: 1rem; /* Slightly smaller for "Rescue" */
  text-align: center; /* Center align "Rescue" */
  display: block; /* Make sure "Rescue" is on a new line */
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

/* Active page navbar link styling */
#navbar .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Customizes the bootstrap smaller screen toggler button */
.navbar-toggler {
  border-color: #ffffff;
}

/* Customizes the bootstrap smaller screen toggler burger icon inside the button. To change colour, adjust stroke rgba. !important declaration to override the bootstrap default svg */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Removes bootstrap border shadow effect on the smaller screens toggler */
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.navbar-brand:hover .brand-text span {
  color: var(--secondary-highlight-color);
}

/* Navbar links hover */
#navbar .nav-link:hover {
  color: var(--secondary-highlight-color);
}

/* ========================= End of navbar styles ========================= */

/* ....................................... */
/* ....................................... */
/* ========== Header Sections ============ */
/* ....................................... */
/* ....................................... */

/* Header Banner Text */
h1, #header-text {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

#hero-image {
  background-image: url("../images/hero-banner-puppy.webp");
  height: 48vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header > h1 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
}

section h3 {
  color: var(--primary-color);
  text-transform: uppercase;
}

#welcome-heading {
  width: 80%;
  border-bottom: 3px solid var(--secondary-highlight-color);
}

/* Adoption Page - adopt-info */
header > .line-break {
  border-bottom: 4px solid var(--secondary-highlight-color);
  width: 50%;
  margin: 1% auto;
}

/* ................................... */
/* ................................... */
/* ========== Main section =========== */
/* ................................... */
/* ................................... */

/* decorative section line breaks */
.line-break {
  border-bottom: 1.8px solid var(--secondary-highlight-color);
  width: 50%;
  margin: 1% auto;
}

/* Our impact highlights bulletpoints - image with text overlay */
#at-a-glance {
  position: relative;
  background-image: url("../images/closeup-shot-brown-kitten-ground-impact.webp");
  padding: 2rem;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  min-height: 25vh;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 0;
  align-items: stretch;
  width: 100%;
  border-radius: 10px;
}

/* This pseudo-element adds an overlay to improve text readability by creating a dark overlay on image */
#at-a-glance::before {
  /* content:"" Required to display the pseudo-element */
  content: "";
  position: absolute; /* Position relative to the parent element */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 51, 27, 0.622); /* Dark transparent overlay for contrast readability */
  z-index: -1; /* Place behind the text and icons */
}

#at-a-glance h3 {
  color: var(--primary-highlight-color);
}

#at-a-glance h4 {
  color: white;
  font-size: 1rem;
}

#at-a-glance p {
  color: white;
}

/* ========================= End of Impact Highlights section =========================*/

/* ============================================================ */
/* ========== Nose/Snoot Img Link and custom pointer ========== */
/* ============================================================ */

/* Nose / Snoot Pointer adapted from https://blog.logrocket.com/creating-custom-mouse-cursor-css/ and https://developer.mozilla.org/en-US/docs/Web/CSS/cursor*/
.large-pointer {
  cursor: url('../images/hand-pointer.png') 22 22, pointer; 
  transition: transform 0.2s ease-in-out; 
}

/* hover effect nose/snoot expands slightly - adapted from Sara Cope tutorial at https://css-tricks.com/almanac/properties/t/transform/*/
.large-pointer:hover img {
  transform: scale(1.1); /* Scale the image by 10% when hovering */
}

/* ................................... */
/* ................................... */
/* ========== Donate Button ========== */
/* ................................... */
/* ................................... */

.text-center .custom-btn {
  background-color: var(--primary-highlight-color);
  color: #1B2C36;
  border: none;
  padding: 0.5rem 0.8rem;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.8rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.397);
}

.text-center .custom-btn:hover {
  background-color: var(--secondary-highlight-color);
  color: #1B2C36;
}

/* Overrides default blue on click */
.text-center .custom-btn:focus, .text-center .custom-btn:active {
  background-color: var(--primary-highlight-color);
  outline: none;  /* Removes default blue outline on click */
  color: #1B2C36; 
}

/* ========================= End of Donate Button ========================= */

/* ==================Adoption Page Styles================ */

/* Adoption page images */
img#adopt-image {
  border-radius: 100%;
  max-width: 100%;
  max-height: 30vh;
}

/* Text links to override default blue and underline */
.custom-text-link {
  color: var(--primary-color);
  text-decoration: none;
  transition-duration: 0.3s;
  border-bottom: 2.5px dashed var(--secondary-highlight-color);
  font-weight: 600;
}  
  
/* Adoption page social media links*/
div.adopt-social-links i {
  color: var(--primary-color);
  font-size: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  transition-duration: 0.3s;
}

div.adopt-social-links i:hover {
  color: var(--secondary-highlight-color);
}

/* ============ Adoption Application Form  ===========*/
.application-form {
  background-color: var(--neutral-color);
  color: var(--primary-color);
  padding: 2rem;
  border-radius: 0px;
  font-family: var(--secondary-font);
  font-weight: 500;
}

/* Smaller buttons for forms */
.application-form button.btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 2px;
}

.application-form button.btn:focus {
  background-color: var(--primary-color);
  border: none;
  border-radius: 2px;
}

.application-form button.btn:hover {
  background-color: var(--primary-highlight-color);
  border: none;
  border-radius: 2px;
}

/* Adoption form radio and checkbox styles override default blue form entry styles */
.form-check-input[type="radio"]:checked {
  background-color:var(--primary-highlight-color); 
  border-color: var(--primary-highlight-color); 
}

.form-check-input[type="checkbox"]:checked {
  background-color: var(--primary-highlight-color);
  border-color: var(--primary-highlight-color) ;
}

.form-check-input:focus {
  box-shadow: 0 0 5px rgba(228, 129, 11, 0.5);
}

.form-control:focus {
  border-color: var(--primary-highlight-color); 
  box-shadow: 0 0 5px rgba(228, 129, 11, 0.5); 
}
/*  ================== End of Adoption Page Styles ================== */

/* ===================== Donations Page ==============================*/

/* Donation page image */
img#donate-image {
  border-radius: 100%;
  max-width: 100%;
  max-height: 40vh;
}

#donate-sub-heading {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: none;
}

/* PayPal and JustGiving Links - brand images styled to look more like clickable buttons with a box shadow effect */
.donate-button {
  display: inline-block;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.397);
  background-color: rgb(247, 247, 247);
  transition: all 0.3s ease-in-out;
}

.donate-button:hover {
  background-color: rgba(234, 234, 234, 0.853);
  border-color: var(--primary-highlight-color);
  
}

/* ============ Contact Form  ===========*/
.contact-form {
  background-color: var(--neutral-color);
  color: var(--primary-color);
  padding: 2rem;
  border-radius: 0px;
  font-family: var(--secondary-font);
  font-weight: 500;
}

/* Small button for contact form */
.contact-form button.btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 2px;
}

.contact-form button.btn:focus {
  background-color: var(--primary-color);
  border: none;
  border-radius: 2px;
}

.contact-form button.btn:hover {
  background-color: var(--primary-highlight-color);
  border: none;
  border-radius: 2px;
}

select#enquiry.form-select:focus {
  border-color: var(--primary-highlight-color); 
  box-shadow: 0 0 5px rgba(228, 129, 11, 0.5);
}

/*  ================== End of Contact Page Styles ================== */

/* Confirmation form success page*/
#confirm-thank-you {
  font-size: 2rem;
}

#confirm-thank-you h1 {
  font-size: 2rem;
}

/* 404 Page */
.col-md-4.position-relative {
  position: relative; /* Ensures absolute positioning inside */
}

.error-404 {
  position: absolute;
  top: 11rem; /* Moves 404 below the cat image */
  left: 70%; /* Adjusts horizontal position - pushes right to align 404 underneath the cat's paw in the image */
  transform: rotate(45deg); /* rotates text adapted from https://www.geeksforgeeks.org/how-to-rotate-text-in-css/ */
}

h1#four-zero-four {
  font-size: 5rem;
  white-space: nowrap;
}

.error-message {
  margin-top: 12rem; /* Pushes paragraph text down */
  font-size: 1.5rem;
}

/* Home button - reverse colour and hover colour of the donate button to be different but consistent */
.custom-btn.home-button {
  background-color: var(--secondary-highlight-color);
  color: #1B2C36;
  border: none;
  padding: 1rem;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.397);
}

.custom-btn.home-button:hover {
  background-color: var(--primary-highlight-color);
  color: #1B2C36;
}

/* ............................................ */
/* ............................................ */
/* ========== Contact Footer Section ========== */
/* ............................................ */
/* ............................................ */

footer {
  background-color: var(--secondary-color);
  color: white;
  position: relative;
}

.social-links i {
  color: white;
  font-size: 2rem;
  margin-right: 1.3rem;
  padding-top: 2rem;
  margin-bottom: 0.5rem;
  transition-duration: 0.3s;
}

.social-links i:hover {
  color: var(--secondary-highlight-color);
}

#copyright {
  color: white;
  font-size: 0.7rem;
  text-align: center;
}

footer address a {
  color: white;
  text-decoration: none;
  border-bottom: 0.5px dashed white;
  transition-duration: 0.3s;
}

footer address a:hover {
  color: var(--secondary-highlight-color);
}

#disclaimer {
  font-size: 0.7rem;
  
}

/* ========================= End of Footer Section ========================= */

/* ................................... */
/* ................................... */
/* ========== Media Queries ========== */
/* ................................... */
/* ................................... */

/* ===========================================================*/
/* Small size devices - Phones and small tablets 320px to 768 */
/* ===========================================================*/
@media (min-width: 320px) and (max-width: 768px) {
  /* Webkit hides scroll bar gap on mobile devices */
  /* Remove scroll bar gap on tablets and mobile devices adapted from https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp and https://www.w3schools.com/css/css_overflow.asp */
  body {
    overflow-y: scroll; /* Keeps vertical scrolling but hides the scrollbar */
    -ms-overflow-style: none; /* For Internet Explorer */
    scrollbar-width: none; /* For Firefox */
    overflow-x: hidden; /* Prevent horizontal scroll */
  }

  ::-webkit-scrollbar {
    width: 8px; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Make thumb transparent */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Media query for navbar logo and text brand to be smaller on mobile and tablet screens */
  .navbar-brand .logo {
    width: 120px;
  }
  
  .brand-text {
    font-size: 0.8rem;
    text-align: center;
  }
  
  .brand-text span:last-child {
    font-size: 0.7rem; /* Slightly smaller for "Rescue" */
    text-align: center; /* Center align "Rescue" */
    display: block; /* Make sure "Rescue" is on a new line */
  }

  #hero-image {
    height: 40vh;
  }

  header > h1 {
    font-size: 1rem;
  }

  h1, #header-text {
    font-size: 1.2rem;
  }

  h2,
  h3,
  h4,
  h5,
  #donate-sub-heading {
    font-size: 1.1rem;
  }

  .social-links i {
    font-size: 1.5rem;
    color: white; /* Prevent any color change */
    transition: none; /* Remove hover effect transition */
  }

  .social-links i:hover,
  .social-links i:focus,
  .social-links i:active {
    color: white; /* Prevent color change clicking links on touch screen devices */
  }

/* ===== 404 page media queries for smaller mobile devices ===== */
.four-zero-four img {
  width: 200px;
}

.error-404 {
  top: 10rem; /* Moves 404 below the cat image */
  left: 60%; /* Adjusts horizontal position - pushes right to align 404 underneath the cat's paw in the image */
}

h1#four-zero-four {
  font-size: 3rem;
  white-space: nowrap;
}

.error-message {
  margin-top: 10rem; /* Pushes paragraph text down */
  font-size: 1.1rem;
}

/* return home button for smaller size screens */
.custom-btn.home-button {
  font-size: 1.5rem;
}

/* Form Success Confirmation Page*/

#confirm-thank-you {
  font-size: 1.5rem;
}

  footer {
    font-size: 0.8rem;
  }


  footer address a {
    color: white; /* Prevent any color change */
    transition: none; /* Remove hover effect transition */
  }

  footer address a:hover,
  footer address a:focus,
  footer address a:active {
    color: white; /* Prevent color change clicking links on touch screen devices */
  }
}

/* ==========================================================*/
/* === Medium and Large mobile phone sizes 375px to 767px ===*/
/* ==========================================================*/
@media (min-width: 375px) and (max-width: 767px) {

  #hero-image {
    height: 40vh;
  }

  h1, #header-text {
    font-size: 1.5rem;
  }

  h2,
  h3,
  h4,
  h5
  #donate-sub-heading {
    font-size: 1.2rem;
  }

  .social-links i {
    font-size: 1.5rem;
  }

  #navbar .navbar-brand {
    font-size: 1rem;
  }

  footer {
    font-size: 0.8rem;
  }

  /* Webkit hides scroll bar gap on mobile devices */
  /* Customise scroll bar on tablets and mobile devices adapted from https://www.w3schools.com/css/css_overflow.asp and https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
  body {
    overflow-y: scroll; /* Keeps vertical scrolling but hides the scrollbar */
    -ms-overflow-style: none; /* For Internet Explorer */
    scrollbar-width: none; /* For Firefox */
    overflow-x: hidden; /* Prevent horizontal scroll */
  }

  ::-webkit-scrollbar {
    width: 8px; /* Adjust to preferred width */
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Transparent thumb */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
}

/* ======================================================================= */
/* ============ Medium size devices - Tablets 768px to 991px ============= */
/* ======================================================================= */
@media (min-width: 768px) and (max-width: 991px) {

  /* Media query for navbar logo and text brand to be smaller on mobile and tablet screens */
  #hero-image {
    height: 40vh;
  }

  h1, #header-text {
    font-size: 2rem;
  }

  h2,
  h3,
  h4,
  h5,
  #donate-sub-heading {
    font-size: 1.5rem;
  }

  .social-links i {
    font-size: 1.5rem;
  }

  #navbar .navbar-brand {
    font-size: 1rem;
  }

/* ==== 404 page media queries for tablet/medium devices 768 - 991px == */

.four-zero-four img {
  width: 200px;
}

.error-404 {
  top: 10rem; /* Moves 404 below the cat image */
  left: 65%; /* Adjusts horizontal position - pushes right to align 404 underneath the cat's paw in the image */
}

h1#four-zero-four {
  font-size: 4rem;
  white-space: nowrap;
}

.error-message {
  margin-top: 11rem; /* Pushes paragraph text down */
  font-size: 1.2rem;
}

/* return home button for tablet size screens */
.custom-btn.home-button {
  font-size: 1.1rem;
}

  footer {
    font-size: 1rem;
  }

  /* Customise scroll bar on tablets and mobile devices - adapted from https://www.w3schools.com/css/css_overflow.asp and https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
  body {
    overflow-y: scroll; /* Keeps vertical scrolling but hides the scrollbar */
    -ms-overflow-style: none; /* For Internet Explorer */
    scrollbar-width: none; /* For Firefox */
    overflow-x: hidden; /* Prevent horizontal scroll */
  }

  ::-webkit-scrollbar {
    width: 8px; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Transparent thumb */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
}

/* =============================================================================================== */
/* =============== Large size devices - large tablets & Desktops 992px to 1200px ================= */
/* =============================================================================================== */
@media (min-width: 992px) and (max-width: 1200px) {

/* Return home button for desktop/laptop screen sizes */
  .custom-btn.home-button {
    font-size: 1.5rem;
  }

}

